div.comments {
  /* position: relative; */
  /* margin: 10px; */
  /* padding: 10px; */
}

.comment-window {
  width: 30%;

  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  display: inline-block;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* flex-direction: column; */
  text-align: center;
  box-shadow: 2px 2px 2px gray;
}

.image-person {
  width: 20%;

  border-radius: 50%;
  border: 1px solid black;
  object-fit: contain;
}

span {
  margin: 5px;
  padding: 5px;
}

span:hover {
  background-color: #2c3b11;
  color: #fff;
}
.active {
  background-color: #628326;
  color: #fff;
}

p {
  position: relative;
}
p.data {
  /* position: relative; */
  font-size: 9px;
  text-align: end;
  top: -3px;
}

h3.rating {
  position: relative;

  top: -18px;
  font-size: 14px;
}
p.review-content {
  /* position: relative; */
  font-size: 11px;
  top: -25px;
  text-align: center;
}

p.name-person {
  font-weight: bold;

  bottom: -10px;
}

@media (max-width: 768px) {
  span {
    position: relative;
    padding: 3px;
    top: -2px;
  }
}
