/* Styl ogólny dla listy produktów w podsumowaniu */
.order-item-list-reasume {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto;
    max-width: 600px; /* Maksymalna szerokość dla responsywności */
  }
  
  /* Styl dla poszczególnych produktów */
  .order-item-list-reasume > div {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-wrap: wrap; /* Zapewnia responsywność */
    align-items: center;
  }
  
  /* Styl dla tekstu produktu */
  .order-item-list-reasume p {
    margin: 10px 0;
    color: #333;
    flex-basis: 100%; /* Zapewnia, że tekst zajmuje całą szerokość na małych ekranach */
  }
  
  /* Styl dla inputu ilości */
  .order-item-list-reasume input[type="number"] {
    width: 60px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
  }
  
  /* Styl dla przycisku usuwania */
  .order-item-list-reasume button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .order-item-list-reasume button:hover {
    background-color: #ff3333;
  }
  
  /* Styl dla sekcji z łączną ceną */
  .total-price {
    text-align: center;
    padding: 15px;
    font-size: 18px;
    color: #333;
    border-top: 1px solid #e0e0e0;
    margin-top: 20px;
  }
  
  /* Styl dla przycisku płatności */
  .order-item-list-reasume .button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  
  .order-item-list-reasume .button:hover {
    background-color: #0056b3;
  }
  
  /* Styl dla linku */
  .order-item-list-reasume a {
    color: white;
    text-decoration: none;
  }
  
  .order-item-list-reasume a:hover {
    color: #ccc;
  }
  
  @media (max-width: 600px) {
    .order-item-list-reasume {
      width: 100%;
      max-width: 100%;
      box-shadow: none;
      border-radius: 0;
    }
  }
  