.order-summary {
  display: flex;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 600px; /* Opcjonalne: ograniczenie wysokości */
}

.order-items-container {
  flex: 1;
  overflow-y: auto; /* Włącza przewijanie */
  margin-right: 20px; /* Odstęp od sekcji podsumowania */
}

.order-item {
  border-bottom: 1px solid #e0e0e0;
  padding: 15px 0;
}

.product-name {
  font-weight: bold;
  margin-bottom: 10px;
}

.quantity-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.quantity input {
  width: 50px;
  padding: 5px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.price {
  font-weight: bold;
}

.remove-item {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.remove-item:hover {
  background-color: #cc0000;
}

.order-summary-details {
  flex-basis: 300px; /* Stała szerokość dla sekcji podsumowania */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Wyświetla elementy od lewej strony */
}

.total-price {
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

.order-pickup-method {
  background-color: #fff3cd; /* Jasnożółty tło dla wyróżnienia */
  border: 1px solid #ffeeba; /* Subtelna obramówka */
  border-radius: 8px; /* Zaokrąglone rogi */
  padding: 10px; /* Wewnętrzny odstęp */
  margin-bottom: 20px; /* Odstęp od ceny */
  color: #856404; /* Kolor tekstu */
  font-size: 1em; /* Rozmiar czcionki */
  text-align: center; /* Wyśrodkowany tekst */
}

.pay-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%; /* Pełna szerokość w sekcji podsumowania */
}

.pay-button:hover {
  background-color: #388e3c;
}
.unavailable {
  color: rgb(139, 114, 0);
  display: flex;
  margin: 0;
  padding: 0;
}
.unavailable:hover {
  background-color: transparent;
  color: rgb(139, 114, 0);
}
/* Style responsywne */
@media (max-width: 768px) {
  .order-summary {
    flex-direction: column;
    max-height: none; /* Usuwa ograniczenie wysokości dla mniejszych ekranów */
  }

  .order-summary-details {
    width: 100%;
    margin-right: 0; /* Usuwa odstęp */
    align-items: center; /* Wyśrodkowuje elementy w sekcji podsumowania */
  }
}
