.singup-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  padding: 20px;
}

.singup-container {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 40px;
  width: 100%;
  max-width: 500px;
}

.header-login {
  margin-bottom: 30px;
}

.h1-signin {
  color: #2d4d2f;
  text-align: center;
  font-size: 2em;
}

.toggle-buttons-login {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.toggle-buttons-login button {
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #e7e7e7;
  color: #333;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
}

.toggle-buttons-login button.active {
  background-color: #2d4d2f;
  color: #fff;
}

.form-container-login {
  background-color: #fff;
  border-radius: 8px;
  padding: 40px;
}

.input-login {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.singup-button {
  width: 100%;
  background-color: #2d4d2f;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 15px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s;
}

@media (max-width: 768px) {
  .singup-container {
    max-width: 400px;
  }

  .h1-signin {
    font-size: 1.5em;
  }

  .toggle-buttons-login button {
    padding: 10px 20px;
    font-size: 1em;
  }

  .form-container-login {
    padding: 30px;
  }

  .input-login,
  .singup-button {
    padding: 10px;
    font-size: 0.9em;
  }
}

.forgot-password {
  margin-top: 15px;
  text-align: center;
}

.forgot-password a {
  color: #2d4d2f;
  font-size: 0.9em;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.input-login {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.input-login:focus {
  outline: none;
  border-color: #2e8b57;
  box-shadow: 0 0 3px #2e8b57;
}

.reset-password-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #2e8b57;
  color: white;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.reset-password-button:hover {
  background-color: #276644;
}

.forgot-password {
  margin-top: 15px;
  text-align: center;
}

.forgot-password a {
  color: #2e8b57;
  font-size: 0.9em;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.show-hide-password-button-signin {
  position: relative;
  width: 30%;

  top: -65px;
  left: 80%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #333;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.show-hide-password-button-signin:hover {
  background-color: #2e8b57;
  color: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  z-index: 999;
}

.reset-password-form {
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 80%;
  max-width: 300px;
}

input.input-reset-password {
  width: 80%;
}
@media (max-width: 480px) {
  .singup-container {
    max-width: 90%;
  }

  .h1-signin,
  .toggle-buttons-login button,
  .input-login,
  .singup-button {
    font-size: 0.8em;
  }
}
