.form-container-login {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 8px 8px;
  padding: 40px;

  position: relative;
  width: 40%;
  top: 0px;
  left: 0%;
  height: 400px;
  margin: auto;
}

.singup-button {
  width: 85%;
}

.toggle-buttons-login {
  display: flex;
  /* justify-content: center; lub align-items: center; dla centrowania w pionie
    align-items: center; */
}

.toggle-buttons-login button {
  /* Twoje dotychczasowe style przycisku */
  position: relative;
  width: 25.68%;
  top: -180px;
  right: 252.2px;
  padding: 10px 20px;
  /* margin: 0 5px; */
  border: none;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
  background-color: #fff;
  color: #333;
  font-size: 12px;
  letter-spacing: 1.5px;
  line-height: 1.5;
  transition: background-color 0.3s ease;
}

.toggle-buttons-login button.active {
  font-size: 14px;
  background-color: #d2b48c; /* kolor brązowy */
}

.header-login h1.h1-signin span {
  display: block;
  position: relative;
  top: 90%;

  left: 150px;
  border-right: 2px solid #fff;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 40px;
  letter-spacing: 1.5px;
  line-height: 1.5;
  opacity: 0; /* Ukryj na początku */
  animation: typing 4s steps(20, end) forwards,
    blink-caret 0.5s step-end infinite;
}

.header-login h1.h1-signin span:first-child {
  animation-delay: 0s; /* Pierwszy span zaczyna się od razu */
}

.header-login h1.h1-signin span:nth-child(2) {
  animation-delay: 4s; /* Drugi span zaczyna się po zakończeniu pierwszego */
}

.header-login h1.h1-signin span:nth-child(3) {
  animation-delay: 8s; /* Trzeci span zaczyna się po zakończeniu drugiego */
}

.header-login h1.h1-signin span:nth-child(4) {
  animation-delay: 12s; /* Czwarty span zaczyna się po zakończeniu trzeciego */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
    opacity: 1; /* Pokaż na końcu animacji */
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}
