.singup-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(
      to right,
      /* rgb(46, 139, 87), */ rgb(60, 179, 113) 20%,
      /* rgb(255, 255, 255) 20%, */ rgb(60, 179, 113) 40%,
      rgb(46, 139, 87) 40%
    ),
    linear-gradient(
      to bottom,
      rgb(255, 255, 255),
      rgb(46, 139, 87) 20%,
      rgb(60, 179, 113) 20%,
      rgb(255, 255, 255) 40%,
      rgb(60, 179, 113) 40%,
      rgb(46, 139, 87) 60%,
      rgb(255, 255, 255) 60%
    );
}

.singup-container {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px;
  width: 100%;
  max-width: 450px;
}

.header-login h1 {
  color: #2e8b57; /* Ciemnozielony */
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.6em;
}

.toggle-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.toggle-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f5f5f5;
  color: #333;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.toggle-buttons button.active {
  background-color: #2e8b57;
  color: #fff;
}

.div-form-container {
  width: 100%;
}

.form-container {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
}

.input-login {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.input-login:focus {
  outline: none;
  box-shadow: 0 0 5px #2e8b57;
}

.singup-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2e8b57;
  color: white;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.singup-button:hover {
  background-color: #276644;
}
.show-hide-password-button {
  position: relative;
  width: 25%;
  top: -100px;
  left: 80%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #333;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
  margin-top: 10px; /* Odstęp od pól hasła */
  /* width: 100%; */
}

.show-hide-password-button:hover {
  background-color: #2e8b57;
  color: #fff;
}
/* Responsywność */
@media (max-width: 768px) {
  .singup-container {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .header-login h1 {
    font-size: 1.4em;
  }

  .toggle-buttons button {
    padding: 8px 10px;
    font-size: 0.9em;
  }

  .singup-button {
    font-size: 0.9em;
  }
}
