.dashboardContainer {
  display: flex;
  height: 100vh;
}

.dashboardSidebar {
  width: 250px;
  background-color: #48643b;
  color: white;
  padding: 20px;
  height: 100%;
}

.dashboardSidebarTitle {
  text-align: center;
}

.dashboardSidebarList {
  padding: 0;
  list-style-type: none;
}

.dashboardSidebarList {
  list-style-type: none;
  display: grid;
  padding: 10px;
  margin-top: 20px;
  font-size: 20px;
}
.dashboardSidebarList::after {
  content: "";
  display: table;
  clear: both;
}
.dashboardSidebarItem {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-bottom: 1px solid #4b6584;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.dashboardSidebarItem:hover {
  background-color: #5d6d7e;
  color: #ecf0f1;
}

.dashboardContent {
  flex-grow: 1;
  padding: 20px;
}

.dashboardContentTitle {
  color: #333;
}

.dashboardButton {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}

.dashboardButton:hover {
  background-color: darkblue;
}

.orders-container {
  margin: 20px;
  font-family: "Arial", sans-serif;
}

.order-item {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-date,
.order-person {
  font-size: 18px;
  color: #333333;
  margin-bottom: 15px;
}

.order-products {
  font-weight: bold;
  font-size: 20px;
  color: #0056b3;
  margin-bottom: 15px;
}

.products-list {
  list-style-type: none;
  padding: 0;
}

.product-item {
  background-color: #f2f2f2;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  border-left: 5px solid #0056b3;
}

.reservation-table-container {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 400px;
  margin-bottom: 20px;
}

.reservation-table {
  width: 100%;
  border-collapse: collapse;
}

.reservation-table thead {
  background-color: #007bff;
}

.reservation-table th,
.reservation-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.reservation-table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.reservation-table input[type="text"] {
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.reservation-table button {
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button {
  background-color: #ffc107;
}
.delete-button {
  background-color: #dc3545;
}
.save-button {
  background-color: #28a745;
}
.cancel-button {
  background-color: #6c757d;
}

@media screen and (max-width: 600px) {
  .reservation-table th,
  .reservation-table td {
    padding: 5px;
  }
  .reservation-table button {
    font-size: 0.8rem;
  }
}

.events-table-container {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: auto;
  margin-bottom: 20px;
}

.events-table {
  width: 100%;
  min-width: 600px;
  border-collapse: collapse;
}

.events-table,
.events-form {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.events-table thead {
  background-color: #4caf50;
}

.events-table th,
.events-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.events-table tbody tr:nth-child(odd) {
  background-color: #e8f5e9;
}

.events-table .event-description-input {
  width: 95%;
  height: 60px;
  padding: 8px;
  margin: 4px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: vertical;
}

.events-table input[type="text"],
.events-form input[type="text"] {
  width: 95%;
  padding: 8px;
  margin: 4px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.events-table .edit-button,
.events-form .edit-button {
  background-color: #ffc107;
}

.events-table .save-button,
.events-form .save-button {
  background-color: #4caf50;
}

.events-table .cancel-button,
.events-form .cancel-button {
  background-color: #6c757d;
}

.events-table button:hover,
.events-form button:hover {
  opacity: 0.9;
}

.events-form {
  text-align: center;
}

.events-form input[type="submit"] {
  background-color: #008cba;
}

.li-order.all,
.li-order-book.book {
  border-bottom: 1px solid black;
}
.order-number {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  right: 0;
  justify-content: end;
  text-align: center;
}

.dashboardSidebar {
  display: block;
}
div.dashboardContainer div.hamburger {
  position: absolute;
  left: 2%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: none;
  font-size: 30px;
  z-index: 1000;
}
div.dashboardContainer div.hamburger:hover {
  color: bisque;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .dashboardSidebar {
    display: none;
  }

  .dashboardSidebar.show {
    display: block;
    /* width: 200%; */
    z-index: 999;
  }
  div.dashboardContainer div.hamburger {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .events-table th,
  .events-table td,
  .events-form input[type="text"] {
    padding: 5px;
    font-size: 0.9em;
  }
}
