.dashboardContainer {
  display: flex;
  height: 100vh;
}

.dashboardSidebar {
  width: 250px;
  background-color: #333;
  color: white;
  padding: 20px;
}

.dashboardSidebarTitle {
  text-align: center;
}

.dashboardSidebarList {
  padding: 0;
  list-style-type: none;
}

.dashboardSidebarItem {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-bottom: 1px solid grey;
}

.dashboardContent {
  flex-grow: 1;
  padding: 20px;
}

.dashboardContentTitle {
  color: #333;
}

.dashboardButton {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}

.dashboardButton:hover {
  background-color: darkblue;
}

/* ... */

.orders-container {
  margin: 20px;
  font-family: "Arial", sans-serif;
}

.order-item {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-date,
.order-person {
  font-size: 18px;
  color: #333333;
  margin-bottom: 15px;
}

.order-products {
  font-weight: bold;
  font-size: 20px;
  color: #0056b3;
  margin-bottom: 15px;
}

.products-list {
  list-style-type: none;
  padding: 0;
}

.product-item {
  background-color: #f2f2f2;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  border-left: 5px solid #0056b3;
}
