.dashboardContainer {
  display: flex;
  height: 100vh;
}

.dashboardSidebar {
  width: 250px;
  background-color: #333;
  color: white;
  padding: 20px;
}

.dashboardSidebarTitle {
  text-align: center;
}

.dashboardSidebarList {
  padding: 0;
  list-style-type: none;
}

.dashboardSidebarList {
  list-style-type: none; /* Usunięcie kropek listy */
  /* padding: 0; Usunięcie domyślnego paddingu */
  /* margin: 0; Usunięcie domyślnego marginesu */
  display: grid;
  padding: 10px;
  margin-top: 20px;
  font-size: 20px;
}
.dashboardSidebarList::after {
  content: "";
  display: table;
  clear: both;
}
.dashboardSidebarItem {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 15px; /* Zwiększony padding */
  border-bottom: 1px solid #4b6584; /* Ciemniejsza linia oddzielająca */
  cursor: pointer; /* Kursor wskaźnikowy */
  transition: background-color 0.3s, color 0.3s; /* Animacja przy najechaniu */
}

.dashboardSidebarItem:hover {
  background-color: #5d6d7e; /* Zmiana koloru tła przy najechaniu */
  color: #ecf0f1; /* Zmiana koloru tekstu */
}

.dashboardContent {
  flex-grow: 1;
  padding: 20px;
}

.dashboardContentTitle {
  color: #333;
}

.dashboardButton {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}

.dashboardButton:hover {
  background-color: darkblue;
}

/* ... */

.orders-container {
  margin: 20px;
  font-family: "Arial", sans-serif;
}

.order-item {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-date,
.order-person {
  font-size: 18px;
  color: #333333;
  margin-bottom: 15px;
}

.order-products {
  font-weight: bold;
  font-size: 20px;
  color: #0056b3;
  margin-bottom: 15px;
}

.products-list {
  list-style-type: none;
  padding: 0;
}

.product-item {
  background-color: #f2f2f2;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  border-left: 5px solid #0056b3;
}

/* Reservation table */
.reservation-table-container {
  overflow-x: auto; /* Umożliwia przewijanie poziome */
  overflow-y: auto; /* Umożliwia przewijanie pionowe */
  max-height: 400px; /* Ustawia maksymalną wysokość kontenera */
  margin-bottom: 20px;
}

.reservation-table {
  width: 100%;
  border-collapse: collapse;
}

.reservation-table thead {
  background-color: #007bff;
  /* color: white; */
}

.reservation-table th,
.reservation-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.reservation-table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

/* Style dla inputów */
.reservation-table input[type="text"] {
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Style dla przycisków */
.reservation-table button {
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button {
  background-color: #ffc107;
}
.delete-button {
  background-color: #dc3545;
}
.save-button {
  background-color: #28a745;
}
.cancel-button {
  background-color: #6c757d;
}

/* Responsywność */
@media screen and (max-width: 600px) {
  .reservation-table th,
  .reservation-table td {
    padding: 5px;
  }
  .reservation-table button {
    font-size: 0.8rem;
  }
}

/* Events */
.events-table-container {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: auto; /* Umożliwia przewijanie poziome */
  margin-bottom: 20px;
}

.events-table {
  width: 100%;
  min-width: 600px; /* Minimalna szerokość tabeli, aby zachować układ kolumn */
  border-collapse: collapse;
}

.events-table,
.events-form {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.events-table thead {
  background-color: #4caf50;
  /* color: white; */
}

.events-table th,
.events-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.events-table tbody tr:nth-child(odd) {
  background-color: #e8f5e9; /* Lekko zielony dla naprzemiennych wierszy */
}

/* Styl dla dużego inputu opisu wydarzenia */
.events-table .event-description-input {
  width: 95%;
  height: 60px; /* Większa wysokość dla obszerniejszego opisu */
  padding: 8px;
  margin: 4px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: vertical; /* Pozwala na zmianę rozmiaru w pionie */
}

.events-table input[type="text"],
.events-form input[type="text"] {
  width: 95%;
  padding: 8px;
  margin: 4px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Styl dla przycisków */
.events-table .edit-button,
.events-form .edit-button {
  background-color: #ffc107; /* Żółty dla edycji */
}

.events-table .save-button,
.events-form .save-button {
  background-color: #4caf50; /* Zielony dla zapisywania */
}

.events-table .cancel-button,
.events-form .cancel-button {
  background-color: #6c757d; /* Szary dla anulowania */
}

.events-table button:hover,
.events-form button:hover {
  opacity: 0.9; /* Lekkie przyciemnienie przy najechaniu */
}

.events-form {
  text-align: center;
}

.events-form input[type="submit"] {
  background-color: #008cba; /* Niebieski kolor przycisku Dodaj */
}

@media screen and (max-width: 600px) {
  .events-table th,
  .events-table td,
  .events-form input[type="text"] {
    padding: 5px;
    font-size: 0.9em;
  }
}
