.dashboardContainer {
    display: flex;
    height: 100vh;
}

.dashboardSidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
}

.dashboardSidebarTitle {
    text-align: center;
}

.dashboardSidebarList {
    padding: 0;
    list-style-type: none;
}

.dashboardSidebarItem {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-bottom: 1px solid grey;
}

.dashboardContent {
    flex-grow: 1;
    padding: 20px;
}

.dashboardContentTitle {
    color: #333;
}

.dashboardButton {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
}

.dashboardButton:hover {
    background-color: darkblue;
}