.product-list table {
  width: 100%;
  border-collapse: collapse;
}

.product-list th,
.product-list td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.product-list th {
  background-color: #f2f2f2;
}

.product-list tr:nth-child(even) {
  background-color: #f2f2f2;
}

.product-list tr:hover {
  background-color: #ddd;
}

.product-list button {
  padding: 5px 10px;
  margin: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.product-list button:hover {
  background-color: #45a049;
}

.add-product-modal {
  /* Styl dla modalu dodawania produktu */
}

/* Dodaj tutaj dodatkowe style */
.product-tabs button {
  padding: 10px 20px;
  margin-right: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-tabs button:hover {
  background-color: #45a049;
}

.product-tabs button.active {
  background-color: #388e3c;
}

.add-product-btn {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #008cba;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-product-btn:hover {
  background-color: #007ba7;
}

.product-container input[type="text"],
.product-container input[type="number"],
.product-container textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.product-container input[type="text"]:focus,
.product-container input[type="number"]:focus,
.product-container textarea:focus {
  border-color: #4caf50;
}

.add-product-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.add-product-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
}

.table-container {
  overflow-y: auto;
  overflow-x: auto;
  max-width: 100%;
  max-height: 500px; /* Możesz dostosować tę wartość do swoich potrzeb */
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

@media screen and (max-width: 600px) {
  .product-container input[type="text"],
  .product-container input[type="number"],
  .product-container textarea {
    width: 100%;
  }

  .product-tabs button {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }

  .add-product-btn {
    width: 100%;
  }
}

/* Product */
.dashboardContentTitle {
  margin-bottom: 20px;
  text-align: center;
}

.product-container .product-tabs button,
.product-container .product-list button {
  padding: 6px 12px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4caf50; /* Zielony dla ogólnych przycisków */
  color: white;
}

.product-container .product-tabs button:hover,
.product-container .product-list button:hover {
  background-color: #45a049;
}

/* Styl dla przycisku Edytuj */
.product-container .edit-button {
  background-color: #ffc107; /* Żółty */
}

/* Styl dla przycisku Usuń */
.product-container .delete-button {
  background-color: #dc3545; /* Czerwony */
}

/* Styl dla przycisku Dodaj */
.product-container .add-button {
  background-color: #007bff; /* Niebieski */
}

.product-container .table-container {
  overflow-x: auto;
  max-width: 100%;
}

.product-container table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.product-container table thead {
  background-color: #4caf50;
  color: white;
}

.product-container table th,
.product-container table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.product-container table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

/* Styl dla pól input */
.product-container input[type="text"],
.product-container input[type="number"],
.product-container textarea {
  width: 95%;
  padding: 8px;
  margin: 4px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

@media screen and (max-width: 800px) {
  .product-container table,
  .product-container thead,
  .product-container tbody,
  .product-container th,
  .product-container td,
  .product-container tr {
    display: block;
  }

  .product-container thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .product-container tr {
    border: 1px solid #ddd;
    margin-bottom: 5px;
    padding: 5px;
  }

  .product-container td {
    border: none;
    border-bottom: 1px solid #ddd;
    position: relative;
    padding-left: 50%;
    text-align: left;
    margin-top: 12px;
    white-space: normal;
    display: block;
    text-align: right;
  }

  .product-container td:before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  .product-container input[type="text"],
  .product-container input[type="number"],
  .product-container textarea {
    width: 90%;
  }
}

.dashboardContentTitle {
  margin-bottom: 20px;
  text-align: center;
}

.product-container .product-tabs button,
.product-container .product-list button {
  padding: 6px 12px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4caf50; /* Zielony dla ogólnych przycisków */
  color: white;
}

.product-container .product-tabs button:hover,
.product-container .product-list button:hover {
  background-color: #45a049;
}

/* Styl dla przycisku Edytuj */
.product-container .edit-button {
  background-color: #ffc107; /* Żółty */
}

/* Styl dla przycisku Usuń */
.product-container .delete-button {
  background-color: #dc3545; /* Czerwony */
}

/* Styl dla przycisku Dodaj */
.product-container .add-button {
  background-color: #007bff; /* Niebieski */
}

.product-container .table-container {
  overflow-x: auto;
  max-width: 100%;
}

.product-container table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.product-container table thead {
  background-color: #4caf50;
  color: white;
}

.product-container table th,
.product-container table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.product-container table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

/* Styl dla pól input */
.product-container input[type="text"],
.product-container input[type="number"],
.product-container textarea {
  width: 95%;
  padding: 8px;
  margin: 4px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

@media screen and (max-width: 800px) {
  .product-container table,
  .product-container thead,
  .product-container tbody,
  .product-container th,
  .product-container td,
  .product-container tr {
    display: block;
  }

  .product-container thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .product-container tr {
    border: 1px solid #ddd;
    margin-bottom: 5px;
    padding: 5px;
  }

  .product-container td {
    border: none;
    border-bottom: 1px solid #ddd;
    position: relative;
    padding-left: 50%;
    text-align: left;
    margin-top: 12px;
    white-space: normal;
    display: block;
    text-align: right;
  }

  .product-container td:before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  .product-container input[type="text"],
  .product-container input[type="number"],
  .product-container textarea {
    width: 90%;
  }
}
