.dashboard {
  font-family: Arial, sans-serif;
}

.tabs {
  display: flex;
  justify-content: space-around;
  background-color: #f2f2f2;
  padding: 10px;
  border-bottom: 2px solid #ccc;
}

.tabs button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.tabs button:hover {
  background-color: #ddd;
}

.content {
  padding: 20px;
  min-height: 200px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.orders-container {
  max-height: 400px;
  overflow-y: auto;
}

.order-container {
  max-height: 400px;
  overflow-y: auto;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-item {
  background-color: #ffffff;
  border: 1px solid #eee;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.product-item p {
  margin: 4px 0;
}

.data-order-highlight {
  color: #007bff;
  font-weight: bold;
}

.user-details-container {
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

.user-details-title {
  color: #2d4d2f;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
  border-bottom: 2px solid #2d4d2f;
  padding-bottom: 5px;
}

.user-details {
  color: #333333;
}

.user-detail {
  font-size: 16px;
  margin-bottom: 10px;
}

.edit-button,
.change-password-button {
  background-color: #2d4d2f;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.edit-button:hover,
.change-password-button:hover {
  background-color: #245423;
}

.edit-form,
.change-password-form {
  background-color: #e9e9e9;
  padding: 15px;
  margin-top: 15px;
  border-radius: 4px;
}

.edit-input,
.password-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  width: 100%;
  background-color: #2d4d2f;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #245423;
}

.order-history-container {
  max-height: 400px;
  overflow-y: auto;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.order-history-item {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.order-history-item p {
  margin: 5px 0;
  color: #333;
}

.order-history-item p:first-of-type {
  color: #008000;
  font-weight: bold;
}

.no-orders {
  text-align: center;
  color: #808080;
  padding: 20px;
}

.reservations-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}
.reservations-container {
  flex: 1;
  margin-right: 20px;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.reservation-item {
  background-color: #fff;
  border-left: 5px solid rgb(100, 88, 0);
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.reservation-item p {
  margin: 10px 0;
  color: #333;
  font-size: 16px;
}

.no-reservations {
  text-align: center;
  color: #808080;
  padding: 20px;
}

.contact-info {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.contact-info p {
  margin: 10px 0;
  color: #333;
}

.comments-container {
  max-height: 400px;
  overflow-y: auto;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.comment-item {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.comment-item p {
  margin: 10px 0;
  color: #333;
}

.no-comments {
  text-align: center;
  color: #808080;
  padding: 20px;
}

.delete-button {
  background-color: red;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.checkbox-label {
  margin-left: 5px;
  font-size: 14px;
}

.order-number {
  /* width: 100px; */
  display: flex;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  right: 0;
  justify-content: end;
  text-align: center;
}
