.dashboard {
  font-family: Arial, sans-serif;
}

.tabs {
  display: flex;
  justify-content: space-around;
  background-color: #f2f2f2;
  padding: 10px;
  border-bottom: 2px solid #ccc;
}

.tabs button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.tabs button:hover {
  background-color: #ddd;
}

.content {
  padding: 20px;
  min-height: 200px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.orders-container {
  max-height: 400px; /* Ustaw maksymalną wysokość */
  overflow-y: auto; /* Włącz przewijanie pionowe */
  /* Dodaj inne potrzebne style, np. padding, marginesy itd. */
}

.order-container {
  max-height: 400px; /* Maksymalna wysokość kontenera */
  overflow-y: auto; /* Włączenie pionowego przewijania */
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Pozostałe style */
.product-item {
  background-color: #ffffff;
  border: 1px solid #eee;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.product-item p {
  margin: 4px 0;
}

.data-order-highlight {
  color: #007bff;
  font-weight: bold;
}

.user-details-container {
  background-color: #f5f5f5; /* Jasne tło dla kontrastu */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 500px; /* lub inna szerokość według potrzeb */
  margin: auto;
}

.user-details-title {
  color: #2d4d2f; /* Ciemnozielony kolor tytułu */
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
  border-bottom: 2px solid #2d4d2f;
  padding-bottom: 5px;
}

.user-details {
  color: #333333; /* Ciemny szary dla tekstu */
}

.user-detail {
  font-size: 16px;
  margin-bottom: 10px;
}

.edit-button,
.change-password-button {
  background-color: #2d4d2f; /* Ciemnozielony kolor przycisków */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.edit-button:hover,
.change-password-button:hover {
  background-color: #245423; /* Ciemniejszy odcień zieleni na hover */
}

.edit-form,
.change-password-form {
  background-color: #e9e9e9; /* Jasnoszary kolor tła formularza */
  padding: 15px;
  margin-top: 15px;
  border-radius: 4px;
}

.edit-input,
.password-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  width: 100%;
  background-color: #2d4d2f;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #245423;
}
