footer {
  position: relative;
}
section.footer-section {
  position: relative;
  height: 100%;
}
.top {
  height: 100%;
  background-color: #2c3b11;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.links {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.links-column {
  width: 30%;
  padding: 10px;
}
.bottom {
  background-color: #24300e;
  color: #aaa;
  text-align: center;
  padding: 10px 0;
}

img.logo-footer {
  width: 180px;
  position: absolute;
  left: 50%; /* Ustaw lewą krawędź na środek */
  transform: translateX(
    -50%
  ); /* Przesuń obraz o połowę swojej szerokości w lewo */
}
@media (max-width: 768px) {
  .links-column {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}

.legal a {
  color: #aaa;
  text-decoration: none;
}

.socials a {
  color: #fff;
  margin-right: 10px;
  font-size: 1.5rem;
  text-decoration: none;
}
.logo-footer {
  /* visibility: hidden; */
}
