nav {
  background-color: #2c3b11;
  padding: 10px;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #fff;
}
.sign-in {
  margin-right: 2rem;
}

.busket-icon {
  position: absolute;
  /* display: block; */
  right: 0; /* Ustawienie na prawy brzeg */
  /* top: 1.45rem;  */
  top: 25px;
  /* transform: translateY(-50%); Korekta pozycji w pionie */
  width: 50px; /* Szerokość kwadratu */
  height: 50px; /* Wysokość kwadratu */
  color: #fff;
  /* background-color: aqua; */
}
li:hover {
  cursor: pointer;
  background-color: #628326;
}
div.busket-icon:hover {
  cursor: pointer;
  color: bisque;
}

div.bar-icon {
}

.bar-icon .hamburger {
  width: 4.5%;
  /* background-color: #333; */
  color: #fff;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Wyśrodkowanie w poziomie */
}

.hamburger {
  display: none;
}

.navbar {
  list-style: none;
  display: flex;
  position: relative;
  left: 40px;
}

nav.open .hamburger {
  display: block;
}

div.busket-sidebar {
  width: 300px;
  height: 400px;
  background-color: rgb(213, 214, 214);
  position: fixed;
  transition: transform 0.3s;
  top: 37px;
  right: 0%;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateY(9%);
}

.order-items {
  padding: 20px;
}

.openBusket {
  right: 0;
  width: 250px;
}

.button-container {
  text-align: center;
}

.order-item-list {
  padding: 20px;
  flex-grow: 1;
  /* overflow-y: auto; Dodać pasek przewijania, jeśli zawartość jest dłuższa niż dostępna przestrzeń */
  white-space: pre-line;
}
.summary-button {
  width: 50%;
  bottom: -21.1rem;

  position: relative;

  margin: 5px auto;
  padding: 10px;
  background-color: #4caf50; /* Zielony kolor */
  color: #fff;
  border: none;
  cursor: pointer;
}

.clear-button {
  width: 50%;
  bottom: -21.1rem;

  position: relative;

  margin: 5px auto;
  padding: 10px;
  background-color: #f00; /* Czerwony kolor */
  color: #fff;
  border: none;
  cursor: pointer;
}

.logo-nav {
  width: 100px;
  position: absolute;
  /* margin: 10px; */
  padding: 2px;
  top: -1px;
  left: 4px;
  opacity: 0.8;
}

div.icon-container {
}
div.history-icon {
  position: absolute;
  /* display: block; */
  right: 0;
  /* top: 1.45rem;  */
  /* left: 93%; */
  margin-right: 30px;
  top: 26px;
  /* transform: translateY(-50%); Korekta pozycji w pionie */
  width: 50px; /* Szerokość kwadratu */
  height: 50px; /* Wysokość kwadratu */
  color: #fff;
  /* background-color: aqua; */
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger:hover {
    cursor: pointer;
    color: bisque;
  }
  .navbar {
    display: none;
  }

  ul.navbar {
    width: 87%;
    position: relative;
    /* right: 20px; */
  }
  nav.open .navbar {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    right: 30px;
    /* margin: 0; */
    padding: 0;

    /* position: sticky; */
  }

  ul {
    flex-direction: column;
    align-items: center;
  }

  li {
    margin-right: 0;
    margin: 0;
    padding: 10px;
    text-align: center;
  }
  .sign-in {
    margin-right: 0;
  }

  div.history-icon {
    position: absolute;
    right: 0; /* Ustawienie na prawy brzeg */
    /* top: 1.45rem;  */
    top: 20px;

    /* transform: translateY(-50%); Korekta pozycji w pionie */
    width: 50px; /* Szerokość kwadratu */
    height: 50px; /* Wysokość kwadratu */
    color: #fff;
    /* /* background-color: aqua; * */
  }
  div.busket-icon {
    position: absolute;
    right: 0; /* Ustawienie na prawy brzeg */
    /* top: 1.45rem;  */
    top: 20px;

    /* transform: translateY(-50%); Korekta pozycji w pionie */
    width: 50px; /* Szerokość kwadratu */
    height: 50px; /* Wysokość kwadratu */
    color: #fff;
    /* /* background-color: aqua; * */
  }
  div.busket-sidebar {
    width: 100%;
    top: 25.2px;
  }

  .summary-button,
  .clear-button {
    width: 100%; /* Pełna szerokość na małym ekranie */
    bottom: -320%;
  }
  .logo-nav {
    top: -10px;
  }
}
@media (max-width: 700px) {
  ul.navbar {
    width: 84%;
  }
}

@media (max-width: 450px) {
  ul.navbar {
    width: 80%;
  }
}
