nav {
  background-color: #2c3b11;
  /* background-color: #556b2f; */
  padding: 10px;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 1.5px;
  line-height: 1.5;
}
.sign-in {
  margin-right: 2rem;
}

li:hover {
  cursor: pointer;
  background-color: #628326;
}
div.busket-icon:hover {
  cursor: pointer;
  color: bisque;
}
.user-icon:hover {
  color: bisque;
}
.history-icon:hover {
  cursor: pointer;
  color: bisque;
}

.bar-icon .hamburger {
  width: 4.5%;

  color: #fff;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.hamburger {
  display: none;
}

.navbar {
  list-style: none;
  display: flex;
  position: relative;
  left: 40px;
}

nav.open .hamburger {
  display: block;
}

div.busket-sidebar {
  width: 300px;
  height: 400px;
  background-color: #ffffff;
  position: absolute;
  top: 76px;
  right: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-left: 2px solid #e0e0e0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transform: translateX(0);
  padding: 20px;
}

.order-item-list div {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.order-item-list p {
  font-size: 16px;
  color: #333;
  margin: 5px 0;
}

.order-item-list input[type="number"] {
  width: 50px;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.order-item-list button {
  background-color: #ff6666;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.order-item-list button:hover {
  background-color: #ff4d4d;
}

.busket-sidebar button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

button#button-busket-color-reasume {
  background-color: #4c661d;
}

button#button-busket-color-delete {
  background-color: #c51616;
}
.busket-sidebar button:hover {
  background-color: #d13d3d;
}

.busket-sidebar a {
  color: white;
  text-decoration: none;
}

.busket-sidebar a:hover {
  color: #ccc;
}
div.history-sidebar {
  width: 300px;
  height: 400px;
  background-color: rgb(213, 214, 214);
  position: fixed;
  transition: transform 0.3s;
  top: 37px;
  right: 0%;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateY(9%);
}
.order-items {
  padding: 20px;
}

.openBusket {
  right: 0;
  width: 250px;
}

.button-container {
  text-align: center;
}

.order-item-list {
  padding: 20px;
  flex-grow: 1;

  white-space: pre-line;
}
.summary-button {
  width: 50%;
  bottom: -21.1rem;

  position: relative;

  margin: 5px auto;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.clear-button {
  width: 50%;
  bottom: -21.1rem;

  position: relative;

  margin: 5px auto;
  padding: 10px;
  background-color: #f00;
  color: #fff;
  border: none;
  cursor: pointer;
}

.logo-nav {
  width: 100px;
  position: absolute;

  padding: 2px;
  top: -1px;
  left: 4px;
  opacity: 0.8;
}

.busket-icon {
  position: absolute;

  right: 120px;

  top: 25px;

  width: 20px;
  height: 50px;
  color: #fff;
}
div.history-icon {
  position: absolute;

  right: 40px;

  margin-right: 30px;
  top: 26px;

  width: 20px;
  height: 50px;
  color: #fff;
}

.user-icon {
  position: absolute;

  right: 0;

  margin-right: 30px;
  top: 26px;

  width: 20px;
  height: 50px;
  color: #fff;
}

span.amount-of-products:hover {
  background: red;
}

.amount-of-products {
  position: absolute;
  top: -4px;
  right: 100%;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 0.8em;
  min-width: 20px;
  text-align: center;
}

.user-icon {
  cursor: pointer;
}

.user-action-bar {
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 70px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.user-action-bar a {
  display: block;
  margin-bottom: 5px;
  color: #333;
  text-decoration: none;
}

.user-action-bar a:hover {
  color: #007bff;
}

.user-action-bar div {
  cursor: pointer;
  color: #333;
  margin-top: 10px;
}

.user-action-bar div:hover {
  color: #007bff;
}

div.history-sidebar {
  width: 300px;
  height: 400px;
  background-color: #ffffff;
  position: absolute;
  top: 76px;
  right: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-left: 2px solid #e0e0e0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transform: translateX(0);
  padding: 20px;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger:hover {
    cursor: pointer;
    color: bisque;
  }
  .navbar {
    display: none;
  }

  ul.navbar {
    width: 87%;
    position: relative;
  }
  nav.open .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    right: 30px;

    padding: 0;
  }

  ul {
    flex-direction: column;
    align-items: center;
  }

  li {
    margin-right: 0;
    margin: 0;
    padding: 10px;
    text-align: center;
  }
  .sign-in {
    margin-right: 0;
  }

  div.history-icon {
    position: absolute;
    right: 10;

    top: 20px;

    width: 20px;
    height: 50px;
    color: #fff;
  }
  div.busket-icon {
    position: absolute;
    right: 10;

    top: 20px;

    width: 20px;
    height: 50px;
    color: #fff;
  }

  .user-icon {
    position: absolute;
    right: 10;

    top: 20px;

    width: 20px;
    height: 50px;
    color: #fff;
  }

  div.busket-sidebar {
    width: 100%;
    top: 62.2px;
    right: 0;
  }

  div.history-sidebar {
    width: 100%;
    top: 62.2px;
    right: 0;
  }

  .summary-button,
  .clear-button {
    width: 100%;
    bottom: -320%;
  }
  .logo-nav {
    top: -10px;
  }
}
@media (max-width: 700px) {
  ul.navbar {
    width: 84%;
  }
}

@media (max-width: 450px) {
  ul.navbar {
    width: 80%;
  }
}
