.role-toggle-button {
    background-color: #007bff; /* Niebieski kolor tła */
    color: white; /* Biały tekst */
    border: none; /* Brak obramowania */
    padding: 8px 15px; /* Padding wewnątrz przycisku */
    border-radius: 5px; /* Zaokrąglone rogi */
    cursor: pointer; /* Kursor wskazujący */
    transition: background-color 0.3s; /* Animacja zmiany koloru tła */
    margin-top: 5px; /* Margines na górze */
  }
  
  .role-toggle-button:hover {
    background-color: #0056b3; /* Ciemniejszy kolor tła przy najechaniu */
  }
  