.intensity-display {
  display: flex;

  position: relative;

  top: -26%;

  left: -10%;
}

.intensity-circle {
  width: 13px;
  height: 13px;
  border: 1px solid #000;
  border-radius: 50%;
  margin-right: 10px;
}

.intensity-circle.filled {
  background-color: #fff;
}

@media (max-width: 990px) {
  .intensity-circle {
    width: 7px;
    height: 7px;
    border: 1px solid #000;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .intensity-display {
    top: -26%;

    left: -25%;
  }
}
