.intensity-display {
  display: flex;
  /* background-color: #000; */
  /* margin-top: 5px; */
  position: relative;

  /* justify-content: start;
  align-items: start;
  text-align: start; */
  top: -26%;

  left: -10%;
}

.intensity-circle {
  /* background-color: black; */
  width: 13px;
  height: 13px;
  border: 1px solid #000;
  border-radius: 50%;
  margin-right: 10px;
}

.intensity-circle.filled {
  background-color: #fff;
}

@media (max-width: 990px) {
  .intensity-circle {
    /* background-color: black; */
    width: 7px;
    height: 7px;
    border: 1px solid #000;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .intensity-display {
    /* display: flex; */
    /* background-color: #000; */
    /* margin-top: 5px; */
    /* position: relative; */

    /* justify-content: start;
    align-items: start;
    text-align: start; */
    top: -26%;

    left: -25%;
  }
}
