.intensity-display {
  display: flex;
  /* background-color: #000; */
  /* margin-top: 5px; */
  position: relative;
  /* justify-content: start;
  align-items: start;
  text-align: start; */
  top: -26%;

  left: -31%;
}

.intensity-circle {
  /* background-color: black; */
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  border-radius: 50%;
  margin-right: 10px;
}

.intensity-circle.filled {
  background-color: #fff;
}
