.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.page-item {
  margin: 0 5px;
}

.nav-background {
  background-color: rgb(219, 219, 219);
  border-radius: 50px;
}

.page-link {
  border: 2px solid #438200;
  padding: 5px 10px;
  text-decoration: none;
  color: #007bff;
  border-radius: 5px;
  cursor: pointer;
}

.page-link:hover {
  background-color: #007bff;
  color: white;
}

/* Styl dla aktywnej strony (jeśli potrzebujesz) */
.active-page {
  background-color: rgb(165, 165, 0); /* Żółty kolor tła dla aktywnej strony */
  color: black; /* Kolor tekstu, dostosuj według potrzeb */
}
