/* Styl ogólny dla kontenera modalnego ze szczegółami produktu */
.product-details-modal-container {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Styl dla treści modalnego szczegółów produktu */
.product-details-modal-content {
  background-color: #fff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 650px;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
}

.product-details-modal-container:hover .product-details-modal-content {
  transform: scale(1.03);
}

.product-details-title,
.product-description,
.product-price {
  color: #2c3e50;
  margin-bottom: 20px;
  letter-spacing: 0.7px;
  line-height: 1.6;
}

.product-details-title {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  border-bottom: 2px solid #3498db;
  padding-bottom: 10px;
}

.product-description,
.product-price {
  font-size: 18px;
  text-align: justify;
}

/* Styl dla informacji o kawie */
/* Styl dla kontenera informacji o kawie */
.coffee-details-container {
  margin-top: 20px;
  padding: 15px;
  background-color: #f3f3f3;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.coffee-intensity-title {
  font-size: 20px;
  font-weight: 600;
  color: #7b8a8b;
  margin-bottom: 10px;
}

.intensity-title-label {
  font-weight: bold;
  margin-right: 5px;
  color: #2c3e50;
}

/* Styl dla opisu intensywności kawy */
.coffee-details-container p {
  font-size: 16px;
  line-height: 1.6;
  color: #34495e;
  margin-top: 5px;
}

/* Dodajemy styl dla wyświetlenia wartości intensywności */
.coffee-details-container .coffee-intensity-value {
  font-size: 18px;
  font-weight: bold;
  color: #e67e22;
  margin-left: 5px;
}

/* Styl dla informacji o książce */
.book-details-info {
  font-size: 18px;
  margin-top: 15px;
  border-top: 1px dashed #34495e;
  padding-top: 10px;
}

.book-author-label,
.book-genre-label,
.book-publishing-house-label,
.book-language-label,
.book-publication-date-label,
.book-cover-label,
.book-page-count-label {
  font-weight: bold;
  margin-right: 5px;
  color: #16a085;
}

/* Styl dla informacji o jedzeniu */
.food-details-info {
  font-size: 18px;
  margin-top: 15px;
  border-top: 1px dashed #34495e;
  padding-top: 10px;
}

.food-calories-label,
.food-weight-label {
  font-weight: bold;
  margin-right: 5px;
  color: #c0392b;
}

@media (max-width: 768px) {
  .product-details-modal-content {
    width: 95%;
    padding: 15px;
    max-height: 80vh; /* maksymalna wysokość modalu */
    overflow-y: auto; /* pozwala na przewijanie treści, jeśli jest zbyt dużo */
  }

  .product-details-title {
    font-size: 22px;
  }

  .product-description,
  .product-price,
  .coffee-details-container .coffee-intensity-title,
  .book-details-info,
  .food-details-info {
    font-size: 16px;
  }
}
