li.active {
  color: blue;
}

div.li-product-card a {
  font-size: 18px;
  color: black;
  justify-content: center;
  text-align: center;
  align-items: center;
}
div.li-product-card ul {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.productType-name {
  display: flex;
  justify-content: center;
}

div.tile-products-list {
  width: 25%;
  height: 200px;
  margin: 10px;
  padding: 10px;
  margin-top: 70px;

  border: 2px solid black;
  border-radius: 2%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #6b5e2f;
}

div.tile-products-border {
  margin-top: 100px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

div.tile-products-list > h3 {
  color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -38%;
}
img.photo-list-products {
  position: relative;
  display: flex;
  width: 70%;
  height: 100px;
  align-items: center;
  top: -30%;
  justify-content: center;
  text-align: center;
  left: 15%;
}

.produc-name-text {
  font-size: 20px;
}
div.tile-products-list h3.product-price-text {
  position: relative;
  top: -49%;
  font-weight: normal;
  font-size: 16px;
}
.button-busket-info-container {
  position: relative;

  top: -50%;
  display: flex;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.add-busket-button {
  width: 100%;
  height: 40px;
  position: relative;

  margin-left: 10px;
  margin-right: 10px;
  left: -2%;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  font-weight: bold;
}

.else-add-busket-button {
  width: 100%;
  height: 40px;
  position: relative;

  margin-left: 10px;
  margin-right: 10px;
  left: -2%;
  border: none;
  border-radius: 4px;
  background-color: #c9c6c6;
  font-weight: bold;
}
.more-info-button {
  width: 100%;
  height: 40px;
  position: relative;

  margin-left: 10px;
  margin-right: 10px;
  left: -2%;
  border: none;
  border-radius: 4px;
  background-color: #eccc68;
  font-weight: bold;
}

.more-info-button:hover {
  background-color: #d0b259;
  cursor: pointer;
}

.add-busket-button:hover {
  background-color: #3e8e40;
  cursor: pointer;
}
.div-more-info-button {
  margin-right: 20px;
}
.div-add-busket-button {
  margin-right: 10px;
}

.coffee-intensity {
  display: flex;
  align-items: center;
}

.coffee-intensity {
  position: relative;
  width: 100%;
  height: 30px;
  font-size: 12px;
}

.intensity-label {
  position: relative;
  top: -100%;
  left: 4%;
}

h3#food-info {
  position: relative;
  top: -50%;
  font-size: 12px;
}
.weight-label {
  margin-left: 30px;
}

h3#ook-info {
  position: relative;
  top: -100%;
  left: 4%;
}

div.tile-products-list h3.coffee-intensity {
  height: 37px;
  position: relative;
}

.intensity-label {
  display: flex;
  top: -89%;
  left: 120px;
}

.active-product {
  border-bottom: 2px solid green;
  padding-bottom: 2px;
}

.pagination-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.pagination-products {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 20px;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  border: 1px solid #007bff;
  padding: 5px 10px;
  text-decoration: none;
  color: #007bff;
  border-radius: 5px;
  cursor: pointer;
}

.page-link:hover {
  background-color: #007bff;
  color: white;
}

.active-page {
  background-color: #007bff;
  color: white;
}

@media (max-width: 990px) {
  div.tile-products-list {
    width: 200px;
    height: 300px;
  }

  .button-busket-info-container {
    position: relative;
    width: 90%;

    left: -2%;

    height: 100px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;

    justify-content: center;
    align-items: center;
  }

  .add-busket-button {
    margin-top: 10px;
  }
  h3#food-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .weight-label {
    margin-top: 12px;

    margin-left: 8px;
  }
  span {
    font-size: 14px;
  }

  div.tile-products-list h3.product-price-text {
    top: -44%;
  }
  div.tile-products-list > h3 {
    margin-top: 25px;
  }
  .intensity-label {
    display: flex;
    top: -47%;

    font-size: 14px;
  }

  span.intensity-label {
    left: 100px;
  }

  div.tile-products-list h3.coffee-intensity {
    height: 110px;
    position: relative;
  }
}
