form.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

input.search-input {
  width: 100%;
  max-width: 400px;

  padding: 10px 20px;
  border: 2px solid #ddd;
  border-radius: 25px;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s ease-in-out;
}

.search-input:focus {
  outline: none;
  border-color: #30751a;
}
.clear-button-search-bar {
  padding: 10px 20px;
  margin-left: -50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.clear-button-search-bar:hover {
  transform: scale(1.1);
}
.clear-button-search-bar:focus {
  outline: none;
}
