/* div.homepage {
  background-color: #61493e;
} */

.homepage {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

/* #main-photo img {
  width: 100%; 
  height: 100%;
  display: flex;
  justify-content: center;
} */

img.img-main-page-photo {
  /* width: 100%;
  height: 100%; */
  /* object-fit: cover; */
}

.homepage section {
  margin: 20px 0;
}

.homepage h1 {
  color: #204b33;
  font-size: 24px;
}

.product-tiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.about-us {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  animation: slide-in 1s ease;
  text-align: justify;
  text-justify: inter-word;
}
