.homepage-photo {
  text-align: right;
  justify-content: right;
  width: 61%;
  float: right;
  transform: rotate(5);
  position: relative;
}

.homepage-photo .blackscreen div {
  width: 30%;
}
img#main-photo {
  text-align: right;
  width: 50%;
  height: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

div.blackscreen {
  width: 100%;
  height: 20%;
  position: relative;
  display: flex;
  background-color: #161616;
}
