.homepage-photo {
  background-color: black;
  text-align: right;
  width: 100%;
}
#main-photo {
  width: 30%;
}

img#main-photo {
  width: 70%;
  height: 530.267px;
  object-fit: cover;
}

.h1-image {
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;

  top: -16.2rem;
  right: -5%;
  letter-spacing: 2px;
  word-spacing: 4px;
}
.p-image {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  letter-spacing: 2px;
  word-spacing: 4px;

  top: -13.2rem;
  right: -2.2%;
}
.button-image {
  margin: 10px;
  padding: 10px 20px;
  background-color: #204b33; /* Kolor ciemnego zielonego */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -10rem;

  width: 23%;
  right: -2%;

  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 4px;
}

.info-image-container {
  width: 100%;

  margin-top: -160px;
}

@media (max-width: 768px) {
  #main-photo {
    width: 100%;
  }

  img#main-photo {
    width: 100%;
    height: 530.267px;
    object-fit: cover;
  }
  .homepage-photo {
    background-color: black;

    width: 100%;
  }
  .h1-image {
    justify-content: center;
    align-items: center;
  }
  .p-image {
    justify-content: center;
    align-items: center;
    top: -15rem;
  }
  .button-image {
    width: 100%;
    right: 0;
    left: -2%;
  }
}
