/* ProduktyTile.css */
.product-tile {
  width: 33.3%;
  height: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.image-container {
  width: 600px;
  height: 600px;
  overflow: hidden;
}

.product-tiles {
  display: flex;
  justify-content: center;
}
img {
  width: 70%;
  height: 80%;
  object-fit: contain; /* lub 'contain', w zależności od potrzeb */
}
.product-tile img {
  /* max-width: 50%;
  height: auto; */
}

.product-tile h3 {
  font-size: 18px;
  margin-top: 10px;
}

.product-tile:hover {
  border: 2px solid #ddd;
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .product-tiles {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  .product-tile {
    width: 80%;
  }
}
