/* ProduktyTile.css */
.product-tile {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.image-container {
  width: 600px;
  height: 600px;
  overflow: hidden;
}

img {
  width: 70%;
  height: 80%;
  object-fit: contain; /* lub 'contain', w zależności od potrzeb */
}
.product-tile img {
  /* max-width: 50%;
  height: auto; */
}

.product-tile h3 {
  font-size: 18px;
  margin-top: 10px;
}
