.slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.slider-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.slider-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  width: 30%;
  margin: 10px;
  height: 300px;
  position: relative;
}

.slider-window.small {
  opacity: 0.7;
  filter: blur(2px);
}

.slider-window.main-event {
  width: 60%;
  opacity: 1;
  height: 400px;
  width: 400px;
}

.slider button {
  background-color: #204b33;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;

  left: 20px;
}

.slider button:hover {
  background-color: #0056b3;
}

.slider button:nth-child(2) {
  margin-left: auto;
}

.slider button:first-child {
  margin-right: auto;
}

.slider button.prev-button {
  position: absolute;
  display: block;

  right: 85%;
}

.slider button.next-button {
  position: absolute;
  left: 85%;
}
.transition {
  transition: transform 5.4s ease-in-out;
}

@media (max-width: 1088px) {
  .slider button.prev-button {
    position: relative;
    width: 40%;
    display: block;

    left: -5%;
  }

  .slider button.next-button {
    position: relative;
    width: 40%;
    left: -5%;
  }
  .slider .small {
    width: 0px;
    height: 0px;
    display: none;
    visibility: hidden;
  }

  .slider .main-event {
    width: 900px;
  }
}
