/* Kontener slidera */
.slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* Kontener kafli */
.slider-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

/* Styl kafli */
.slider-window {
  display: flex;
  flex-direction: column; /* Kafle w układzie pionowym */
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  width: 30%; /* Możesz dostosować szerokość kafli według swoich preferencji */
  margin: 10px;
  height: 300px; /* Wysokość kafli */
  position: relative;
}

/* Małe kafle boczne z rozmyciem */
.slider-window.small {
  opacity: 0.7; /* Większa przezroczystość */
  filter: blur(2px); /* Rozmycie */
}

/* Kafel głównego wydarzenia */
.slider-window.main-event {
  width: 60%;
  opacity: 1; /* Główny kafelek jest pełni widoczny */
  height: 400px; /* Wysokość kafelka głównego */
  width: 400px; /* Szerokość kafelka głównego */
}

/* Przyciski Następny i Poprzedni */
.slider button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  position: absolute;
  left: 20px;
  /* bottom: 10px; */
}

/* Styl przycisków po najechaniu myszą */
.slider button:hover {
  background-color: #0056b3;
}

/* Przycisk Następny po prawej stronie */
.slider button:nth-child(2) {
  margin-left: auto;
}

/* Przycisk Poprzedni po lewej stronie */
.slider button:first-child {
  margin-right: auto;
}
.transition {
  transition: transform 5.4s ease-in-out;
}
